* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-main;
  line-height: 1.6;
}

a {
  &,
  &:link {
    @extend %link;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}
